<% include ./partials/header %>

<div class="ui container">
    <div class="ui segment">
        <h1>Introduction</h1>
        <p>Are you interested in starting a business? Creating a business plan is one of the most important steps you will take because the plan serves as your road map for the early years of your business. The business plan generally projects 3-5 years ahead and outlines the route a company intends to take to reach its yearly milestones, including revenue projections. A well thought out plan also helps you to step-back and think objectively about the key elements of your business venture and informs your decision-making on a regular basis.</p>
        <h2>Business Planner</h2>
        <p>SBA's Business Planner provides you with a step-by-step guide to help you get started. All of your information entered into this tool can only be viewed by accessing your account using the password you have specified. Not only can you save your plan and refer back to it later, you can also update it at any time, making this a living plan. You can also use your completed business plan to discuss next steps with a mentor or counselor from an SBA resource partner such as SCORE, a Small Business Development Center (SBDC) or a Women's Business Center (WBC). </p>
        <h2>How It Works</h2>
        <p>Complete each section of SBA's Business Planner at your own pace. Save your work at any time and pick up where you left off the next time you log into the tool. Your information will be saved under 'View Plans' for up to six months after your last login date.</p>
        <p>During the step-by-step process, this tool will update the status of your business plan. Once you save your information and move to a new section in the business plan, a blue progress bar will grow at the top of the screen denoting when each section is complete.</p>
        <p>If you are not ready to start your business plan today, then feel free to read the Business Guide before you get started.</p>
        <div style="text-align: center">
            <a href="https://www.sba.gov/business-guide/plan-your-business/write-your-business-plan"><button class="ui huge blue button" type="submit" style="margin-top: 1em">Read the Guide</button></a>
            <a href="/questionnaire"><button class="ui huge blue button" type="submit" style="margin-top: 1em">Get Started</button></a>
        </div>
    </div>
        <div class="ui inverted segment">
        <p>This section will be removed.</p>
        <h3>Test Credentials</h3>
        <p>Username: ryan@ryan.com</p>
        <p>Password: ryanryan</p>
    </div>
</div>
    